@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
.section-heading {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: left;
  }
  .section-heading h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #2a2a2a;
  }
.section-p{
 
    margin-bottom: 1rem;
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}